body {
    font-family: 'Raleway', sans-serif;
}


p {
    text-align: center;
    padding-inline: 2%;
    font-size: medium;
    line-height: 20px;
    line-break: anywhere;
    padding: 1%;
    white-space: 50%;
}

.donate-now {

    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
}

.image-text {
    position: absolute;
    top: 50%;
    color: #fff;
    padding: 2opx;
    font-size: 60px;
    text-align: center;


}

.image-text img {
    max-width: 100%;
    height: auto;

}

.second-page {
    width: 100%;
    padding: 1%;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.third-font {
    text-align: center;
    word-spacing: 30px;


}

.donate-plan {
    text-decoration: none;

}

.fourth-page {
    width: 100%;
    padding: auto;
    display: flex;
}

.food-font {
    box-shadow: 10px 10px 40px gray;
    margin-left: 20%;
    margin-right: 3%;
    border-radius: 10px;
    border-left: 7px solid aquamarine;
}


.cloth-font {
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    border-left: 7px solid palegreen;

}

.medicine-font {
    box-shadow: 10px 10px 40px gray;
    margin-right: 20%;
    margin-left: 3%;
    border-radius: 10px;
    border-left: 7px solid salmon;
}

.last-font {
    text-align: center;
}

.box-tag {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    position: absolute;
    left: 40%;
    right: 40%;

}


h2 {
    margin: 0 0 10px;
    padding: 0;
    color: darkgray;
    font-size: 24px;
}



#amount-font {
    text-align: center;
    border-bottom: 3px dotted gray;
    margin-left: 30%;
    margin-right: 30%;
}

#donation-img {
    max-width: 100%;
    height: auto;

}

#donate-now-again {
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    font-weight: 700;
}